<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WtyMusicPlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>34E8D95F1C3F78B000466A77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34E8D9781C3F78B100466A77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34E8D9831C3F78B100466A77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
